#nav-bar {
  position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1rem;
    z-index: 100;
  overflow: hidden;
}

#chat-list {
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: start;
  overflow: scroll;
  height: 80vh;
}

#message-input {
  display: flex;
  position: absolute;
    bottom: 0;
    width: 100%;
  > input {
    flex-grow: 1;
  }
}